body {
    font-family: sans-serif;
    font-size: 0.9rem;
}

/* 1 column: 320px */
.autowide {
        margin: 0 auto;
        width: 100%;
    }
    .autowide img {
        float: left;
        margin: 0 0.75rem 0 0;
    }
    .autowide .module {
        background-color: lightgrey;
        border-radius: 0.25rem;
        margin-bottom: 1rem;
    }
    .autowide .module p {
        padding: 0.25rem 0.75rem;
    }
  
  /* 2 columns: 600px */
@media only screen and (min-width: 600px) {
    .autowide .module {
      float: left;
      margin-right: 2.564102564102564%;
      width: 48.717948717948715%;
    }
    .autowide .module:nth-child(2n + 0) {
      margin-right: 0;
    }
}
  
  /* 3 columns: 768px */
@media only screen and (min-width: 768px) {
    .autowide .module {
      width: 31.623931623931625%;
    }
    .autowide .module:nth-child(2n + 0) {
      margin-right: 2.564102564102564%;
    }
    .autowide .module:nth-child(3n + 0) {
      margin-right: 0;
    }
}
  
  /* 4 columns: 992px and up */
@media only screen and (min-width: 992px) {
    .autowide .module {
      width: 23.076923076923077%;
    }
    .autowide .module:nth-child(3n + 0) {
      margin-right: 2.564102564102564%;
    }
    .autowide .module:nth-child(4n + 0) {
      margin-right: 0;
    }
}

/* CARD VIOLET */
.card-img-top.violet {
    background-color: blueviolet;
    padding: 20px;
    object-fit: contain;
    height: 13vh;
    cursor: pointer;
    opacity: 1;
}
.card-img-top.violet:hover {
    opacity: 0.7;
}
.card-img-top.violet:active {
    opacity: 0.7;
}
@media (max-width: 768px) {
    .card-img-top.violet {
        object-fit: contain;
        height: 18vh;
        padding: 35px;
    }
}

/* CARD ORANGE */
.card-img-top.orange {
    background-color: orangered;
    padding: 20px;
    object-fit: contain;
    height: 13vh;
    cursor: pointer;
    opacity: 1;
}
.card-img-top.orange:hover {
    opacity: 0.7;
}
.card-img-top.orange:active {
    opacity: 0.7;
}
@media (max-width: 768px) {
    .card-img-top.orange {
        object-fit: contain;
        height: 18vh;
        padding: 35px;
    }
}

/* BOTH CARD */
.card.main-content {
    height: 38vh;
}

@media (max-width:800px) {
    .card.main-content {
        height: 43vh;
    }
} 
@media (max-width:350px) {
    .card.main-content {
        height: 45vh;
    }
} 
.card-text {
    margin: -5px;
    margin-right: -8px;
    margin-left: -8px;
}
.card-text.parent {
    margin-bottom: -12px;
}

.nuxtlink-card {
    color: black
}
.nuxtlink-card:hover {
    color: dodgerblue
}
.nuxtlink-card:hover {
    color: dodgerblue
}

/* LAYOUT */
.navbar {
    background-color: white;
    box-shadow: 0px -9px 20px #000000;
}

.footer {
    border-top: 1px solid #EFEFEF;
    padding: 10px;
    text-align: center;
    color: #ABABAB;
    margin-top: 5vh;
}

/* TRANSITION EFFECT */
.container {
    transition: all .5s cubic-bezier(.55,0,.1,1);
  }
  
  .page-enter-active, .page-leave-active {
    transition: opacity .5s
  }
  .page-enter, .page-leave-active {
    opacity: 0
  }
  
  .bounce-enter-active {
    animation: bounce-in .8s;
  }
  .bounce-leave-active {
    animation: bounce-out .5s;
  }
  @keyframes bounce-in {
    0% { transform: scale(0) }
    50% { transform: scale(1.5) }
    100% { transform: scale(1) }
  }
  @keyframes bounce-out {
    0% { transform: scale(1) }
    50% { transform: scale(1.5) }
    100% { transform: scale(0) }
  }
  
  .slide-left-enter,
  .slide-right-leave-active {
    opacity: 0;
    transform: translate(30px, 0);
  }
  .slide-left-leave-active,
  .slide-right-enter {
    opacity: 0;
    transform: translate(-30px, 0);
  }

